.outer-container {
    height: 93vh;
    max-width: 100%;
}

.header-container {
    height: 3rem;
    width: 100%;
    padding: 1rem 0 0 1rem;
}

.header-txt {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 700;
}
