.outer-container {
    height: max-content;
    max-width: 100%;
}

.header-container {
    height: 3.5rem;
    width: 100%;
    padding: 1rem 0 0 1rem;
}

.header-txt {
    font-size: 18px;
}

.main {
    overflow: hidden;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 1px;
    grid-auto-rows: minmax(100px, auto);
}