.Overlay {
    position: fixed;
    top: 25%;
    left: 20%;
    right: auto;
    bottom: auto;
    display: block;
    align-items: center;
    justify-content: center;
}

.Modal {
    height: 18rem;
    width: 18rem;
    position: absolute;
    top: 50%;
    left: 30%;
    right: auto;
    bottom: auto;
    outline: none;
    border: 1px solid white;
    padding: 1.8rem;
    flex-direction: row;
}

.txt {
    color: rgb(255, 255, 255);
    font-weight: 500;
    font-family: sans-serif;
    margin-left: 5px;
    text-shadow: 10px 10px 10px black;
}

.Div {
    height: 5rem;
    width: 18rem;
    display: flex;
}

.icon {
    margin-top: 1.5rem;
}