* {
    padding: 0;
    margin: 0;
}

/* !!!!!!!!!!!!! utility  classes !!!!!!!!!!!!!!!!!!!!!! */

.container {
    width: 100%;
    align-self: center;
    height: 6%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 52, 0.8268557422969187) 47%, rgba(2, 0, 36, 1) 100%);
}

.navBar {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.5rem 2rem;
    justify-content: space-between;
    background-color: rgb(39, 165, 88);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 121, 52, 0.8268557422969187) 47%, rgba(2, 0, 36, 1) 100%);
}

body {
    background-color: rgb(187, 207, 233);
}