.cont {
    display: flex;
}

main {
    width: 100%;
}

.sidebar {
    background: #04213F;
    color: white;
    height: 93vh;
    width: 300px;
    z-index: 810;
}

.top-section {
    display: flex;
    align-items: center;
    padding: 8px 15px;
}

.logo {
    font-size: 25px;
    font-family: sans-serif;
    margin-left: 15px;
}

.bars {
    font-size: 20px;
    margin-left: 10%;
}

.link {
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    text-decoration: none;
    font-family: sans-serif;
}

.link:hover {
    background-color: rgb(39, 165, 88);
    color: black;
}

.navbar {
    width: 100%;
    height: 7vh;
    background-color: rgb(39, 165, 88);
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    color: white;
}

.middle-txt {
    text-align: center;
    margin-left: 30px;
    font-size: 25px;
    font-family: sans-serif;
}