.cont {
    display: flex;
}

main {
    width: 100%;
    height: max-content;
}

.sidebar {
    background: #04213F;
    color: white;
    height: inherit;
    width: 300px;
    z-index: 810;
}

.bars {
    font-size: 20px;
}

/* .link {
    color: white;
    gap: 10px;
    text-decoration: none;
} */

/* .link:hover {
    color: white;
    transition: 0.5s;
} */

.navbar {
    width:100%;
    height: 3rem;
    background-color: rgb(39, 165, 88);
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.middle-txt {
    font-size: 25px;
}

.sub-link {
    display: flex;
    color: white;
    padding: 8px 15px;
    gap: 13px;
    text-decoration: none;
}

.sub-link:hover {
    background-color: #135fcb;
    color: white;
    transition: 0.5s;
}