.cont {
    display: flex;
}

main {
    width: 100%;
    /* padding: 10px; */
}

.sidebar {
    background: #04213F;
    color: white;
    height: 100vh;
    width: 300px;
}

.top-section {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 20px 15px;
}

.logo {
    font-size: 25px;
    font-family: sans-serif;
}

.bars {
    display: flex;
    font-size: 20px;
    margin-left: 120px;
}

.link {
    display: flex;
    color: white;
    padding: 10px 15px;
    gap: 15px;
    text-decoration: none;
    font-family: sans-serif;
}

.link:hover {
    background-color: rgb(39, 165, 88);
    color: black;
}

/* <==========LINK SIZE CHANGE ========> */
/* .icon, .link_txt{
    font-size: 17px;
    size: 55px;
} */