.backGround {
    height: 46.7rem;
    width: 96rem;
    position: relative;
    background-image: url(./Images/bac.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
